-# content_tag(home_page? ? :h2 : :h1, link_to(article.title, article, :class => 'plain'), {:class => 'content_title'}, false)
%h2= link_to(article.title, article, :class => 'plain')
.date
  = l article.created_at, :format => :long
.article_body
  ~ raw(article.markdown ? markdown(article.body) : article.body)
.comment_count
  = link_to(pluralize(article.comments.size, 'comment'), article_path(article, :anchor => 'comments'), :class => 'plain')

-#      %td= link_to 'Show', article
-#      %td= link_to 'Edit', edit_article_path(article)
-#      %td= link_to 'Delete', article, :confirm => 'Are you sure?', :method => :delete
-#
-#%p= link_to 'New Article', new_article_path
