%h2.title About
-#%p
  <div class="wp-caption alignright" style="width:218px; height:177px;">
  <%= image_tag 'about.png', :alt => 'picture', :size =>'208x167' %>
  </div>
%p
  My name is Braulio Carreno. I live on Martha&rsquo;s Vineyard, but spend a lot of time in Boston.
%p
  I&rsquo;ve had to wear many hats throughout my career: developer, project manager,
  systems administrator, network engineer and CIO.
  Now I&rsquo;m back to software development, and as a builder at heart, I&rsquo;m doing what I enjoy the most.
%p
  My hobbies are airplane modeling and photography.
