- set_title 'About'

%p
  - description = 'Photo of Braulio Carreno at RailsBridge Boston Oct 2013 by Rebecca Frankel'
  = image_tag 'teaching_at_rbb.jpg', :class => 'framed align_right', :style => 'padding: 5px',
    :title => description, :alt => description
  My name is Braulio Carreno. I am a software engineer. I live on Martha's Vineyard
  and work in Boston, Massachusetts.
  %p
    My hobbies are airplane modeling and electronics.
  %p
  You can contact me through the form below.

.clear

#new_message
  - @message ||= Message.new
  = render :partial => 'messages/form'
