- set_title 'Public Key Information'

<p style="font-family: monospace;">
\-----BEGIN PGP PUBLIC KEY BLOCK-----<br>
<br>
mQINBF4worYBEACl6R1GhgySfA9L/SAHnJYVUNiuvcSFd9ur9lo9bZhjUrqXG/Vi<br>
uWcG4kJVaB3dF4q0+N17sklI13KxR2wV3hvahp7rFRMYgKyCCIat1cp9HPmpBRBj<br>
Cw8PZ2DKBYxDsDMqOyUxdkTYJU55SCeXwF+8bzVTgKSzrIKEMtiO2Mvk/LfAEsDe<br>
yApgIJqUaFB5ZWPOIcuJiLLno0NMLqa0cyOLR+k2uj+OmMgutF5ArA7AWuy0Tf9v<br>
ycHte24hZ0tGSiAVcr9r8/2Xfb6kcnAAUKoW4gFJO5h7N+jW/QX5DclC4jYPz/+z<br>
qiH974PS33Db4gT24H9SIq9NlHe7wG4SiiLNu9DxPy12vw3cD/MIQNeN+/bO3NGh<br>
lIeLqapJwwGfgNdoH/YnZouoFxOml2TSUpSqVd2/OyDOq/KPIYZ0cVeFwZekh+Qi<br>
cZgu7pMN7Q2fyenQ5xXLvqFRu1hkD3f3OwaMfBi/9X/UdhS3FPy3mTIwpGgjp7Wi<br>
KTp0tV0Ttajvp1KDtPlw0lE98k2Pj4HX5hUQ4KOxrSyxvSDCzPRygr/OY0zOWLyY<br>
GEIOBRBXBIqLAgmyTuL0MCStC28qNcbyiQioZGr0Ap5yr49leQUoDAajRePUP0aE<br>
2IEbiScmUsZe22p3tZoOMl9+MJpp2BYUe4IujLroCrVGeRiJ4mHlWzr0gwARAQAB<br>
tDdCcmF1bGlvIENhcnJlbm8gKGV1bG9naWEgSmFuIDIwMjApIDxiY2FycmVub0B5<br>
YWhvby5jb20+iQJXBBMBCABBAhsDBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAhkB<br>
FiEEEpXAq+Q7JVaay7dq6lItNGjRBFMFAmIhNKEFCQey+OsACgkQ6lItNGjRBFPq<br>
Sw/+I3QrGFiO97swYqDMLl+15N1XVCD8JZsVV8PrCS8anRhmju1tTj7r3dAyCbTa<br>
du2qTyHKKWlDCJ9K5SfvAMugL+KLLtzVWIeLdVui0+R/P1lVjA0bUJ4cpo0tuQ0M<br>
A07nHeesAjSw4KqEh77y2n/RHSJgWxcLNeEz4yKl90IOgB206mmBmIrbaIUjRojH<br>
ZHROmKK2uA/T8jbMqqy+QJvA0eJPMxl0/4jxrzlyKstTEFb+jUJiAGXSZfeMmfJJ<br>
SPAahPLLYAzGXCWHAt75KtZXpY4B3mYjIAZEhduxDY4oDpucsQqOte/sLttXLLkn<br>
CsUwu2GTEj5zDh52h9eBvspCMyk8gfnpJIKbvpLGKpFrr9GLtzSrXrzSKNqTaogW<br>
jJjCEhtpe3LnGIbNLn7SZTJx19y7Gw54oUu/50Lf+Zeq1Oyx1uj4bxWlA+ui9qQK<br>
AWG5o6djzCVJj6dPIwjIknCFcgiIfLjPLZjzqh4Aw7vhP925F+uSDFR84PfGCzUl<br>
DopofPA+zcJN7zt1/l5yYNs55ZtfjpYr+PZwldIdM5Adxk+HLXGHRiHxGtS6R7Gr<br>
7xeCW0ImkEAjGNYOAXXKkJ1Nm72ycvMOpTIDi3Nf6m0Eatx+wYSsu/jBra4SC4LW<br>
DDKZXg/YUW0QnpvwOxk+6UUEsDdSLVxOE0E513DuE23iGi25Ag0EXjCitgEQAMoc<br>
k/hcYmYbhQh/Djrl7YomspuQzIl/3Y0J3PqqfbBWOChXk5RA+davMks9KCa44ZVN<br>
NIsHRuR4gLvVYQBpCpLKOjbU2R2w+Hd1zs96vdq+s9W1HTj3pY7RabPtulgos968<br>
j/eVWTRbf3WaKxRzrVbb0gVB0Ns/e7WjYtVEJFwCzXyekKGtqLqVNfwgnhfQcN7w<br>
ebJLFu8t3DYK4KzbAEJtRkTnASszonqmcSwjypLBvloUY0JB/tlJVtX11BJJqNwI<br>
KBn5Eix4CGvUl/xb5YXqMCXW4WcfnEQAs5cVpw0Svd7T/wj0Tovs29gFi3sPrgQf<br>
jepIhlBSNm5S8vbeinKJKjDjlfsBYlc+9iXvQgYlrvN6yb2sTDXad1FVcMhJuUlO<br>
dI218OnysWqDuGsikaeUcv6A+YTdYegHcG3g4Lgsi0OJhSK1VDeICisioiLyXIq4<br>
lbJFW1ku3RcaThRhruzl465XoChwQMOUqm9YKt6hiO6UZhoPE3INqzGH+HbGu7cd<br>
arm4nfnhOlShdzAN+YtMqqIdFJLvVgE64eRprxMRnOPpR1BItH0XX4J03v+2YadN<br>
Qy2WFvSR9X6S4QSukRWuy52KmVVMIFHZZuxVf5qvg/xDy0WwlWcy63OOISEEdlb1<br>
yx4bzoQsXdx2ND6QdNLSBdc1W0TpruzVERYxaXt1ABEBAAGJAjwEGAEIACYCGwwW<br>
IQQSlcCr5DslVprLt2rqUi00aNEEUwUCYiE1AwUJB7L5TQAKCRDqUi00aNEEU4ug<br>
D/4yOBxDHtk74/4OgnQsI2W9jsWgtq35WfKpXmTrN2ALCm1U9QmXmRShCbOC+OWq<br>
zHwG3IkhtjOZC5F9Tpd+nzeF2s4s/7ZFDv691xeN3+k20MphUrHlHc0bSdYf20yF<br>
ajSOTXDNddDhua5YIJT19XBeA2NB4hLeEZ1yDqQ0ghdc38vWdrU9uUDsPit6Wcsa<br>
b4HkLA72doIdZYFeT++35yXnljwzAsi7rUHyCrWjzBKeW5S3kK/Yr8N1202hoZ1E<br>
+nn6jPTHVa9jy7EmhHzFgkN1ocXgLF/mLlvsKcuWRRfDsL/nsINVYNSAvRCl78tv<br>
p2rEz/n2pTRraJWiuzuDlPV1suvpeeXFHYiVru9PACVJTvZnzJX/XjIRTOXt6rm4<br>
i6wMnClgMgMB+vVFoDFZwgFPuxxzKi/LI2WrlLpMgfGfNJ0uVbW7k9uTKYdI+j/T<br>
airgDzmgUenEu0sw+8tOUMotVT1zrF/bLx8ReJhoBMdp9QQgvm11tw+wUd18NGF5<br>
YDw2IDpnLwmwmClZPzQ8lzHOXRMsm2aWFMt0CFFhV3iJV2ZImHX80BDxrKwpDKW2<br>
PejiQRj3mHl3fyDLbfX9fqs26clPz5ybkjWMNnxKvSOzXjaqVugff2jr82BtCdlO<br>
FviJxQ1bGMPznTqbF45gmGme0GnGbxQRpZjjLyE9BOngsQ==<br>
\=OPM4<br>
\-----END PGP PUBLIC KEY BLOCK-----<br>
</p>

%p
  Fingerprint:
  %span.monospace 1295 C0AB E43B 2556 9ACB&nbsp;&nbsp;B76A EA52 2D34 68D1 0453
