/*
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

*/

table.form {
  td {
    padding: 5px;
    &:first-child {
      text-align: right;
    }
  }
  .field_with_errors {
    label {
      color: #8A0808;
    }
    input {
      border-color: #8A0808;
      &:focus {
        box-shadow: 0pt 0pt 6px rgb(248, 185, 183);
      }
    }
  }
}


#error_explanation {
  width: 400px;
  border: 1px solid #8A0808;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #e4e4e4;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #8A0808;
    background-image: none;
    color: #fff; }
  ul {
    padding-top: 10px;
    font-size: 12px;
    padding-left: 10px;
     } }

#flash_notice {
  margin: 10px 0;
  width: 400px;
  border: 1px #04B431 solid;
  display: inline-block;
  padding: 8px 12px;
  background-color: #BCF5A9;
}
